##### UE generated #####
Binaries
Content/StarterContent
Intermediate/AssetRegisrtryCache
Intermediate/Build
Intermediate/ReimportCache
Intermediate/CachedRegistry.bin
Saved

##### VS generated #####
.vs/
